
.container-comics {
    width: 80%;
    margin: auto;
    ul {
        list-style: none;
        padding: 0px;
        text-align: center;
    
        li {

            display: inline-flex;
    
            .comics-card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                border-radius: 16px;
                text-align: center;
                padding: 6px 5px 5px;
                margin: 10px;
                width: 345px;
                

                img {
                    display: flex;
                    width: 345px;
                }
                
            }
        }
    }
    .buttonMore {
        padding-top: 20px;
        width: 89%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 85%;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 8px;
            border-radius: 5px;
        }
    }
}


@media(max-width: 800px) {
    .container-comics {
        width: 100%;

        .comics-card {
            margin: 7px
        }
    }

  }
