<div class="container-menu">
    <nav class="header">
        <ul class="logo">
            <li><img class="logo-img" src="../../../../assets/img/marvel.svg" alt="Marvel"></li>
        </ul>
        <ul class="position-link">
            <li><a routerLink="/home" routerLinkActive="selected">Home</a></li>
            <li><a routerLink="/characters" routerLinkActive="selected">Personagens</a></li>
            <li><a routerLink="/series" routerLinkActive="selected">Séries</a></li>
            <li><a routerLink="/comics" routerLinkActive="selected">Histórias em Quadrinhos</a></li>
        </ul>
        
    </nav>
</div>


